In [1]:
import pandas as pd
import numpy as np

In [2]:
s=pd.Series(('a','b','c'),index=[1,2,3])

In [3]:
s

1    a
2    b
3    c
dtype: object

In [4]:
d={pd.Series(('a','b','c'),index=[1,2,3]),pd.Series(('d','e','f'),index=[4,5,6])}

TypeError: unhashable type: 'Series'

In [5]:
d={'one':pd.Series(('a','b','c'),index=[1,2,3]),'two':pd.Series(('d','e','f'),index=[4,5,6])}

In [6]:
d

{'one': 1    a
 2    b
 3    c
 dtype: object,
 'two': 4    d
 5    e
 6    f
 dtype: object}

In [7]:
df=pd.DataFrame()

In [8]:
df

   one  two
1    a  NaN
2    b  NaN
3    c  NaN
4  NaN    d
5  NaN    e
6  NaN    f

In [22]:
df=pd.DataFrame(d)

In [23]:
df

   one  two
1    a  NaN
2    b  NaN
3    c  NaN
4  NaN    d
5  NaN    e
6  NaN    f

In [18]:
df.index

Index(['a', 'b', 'c'], dtype='object')

In [19]:
df.columns

Index(['one', 'two'], dtype='object')

In [26]:
df=pd.DataFrame(np.arange(20).reshape(5,4),index=["r1",'r2','r3','r4','r5'],columns=['c1','c2','c3','c4'])

In [27]:
df

    c1  c2  c3  c4
r1   0   1   2   3
r2   4   5   6   7
r3   8   9  10  11
r4  12  13  14  15
r5  16  17  18  19